@model PageLookupData

@{
    ViewData["Title"] = Model.PageData.Data["title"];
}

<div>@Model.StatusCode</div>
<div>@Model.PageData.PageId</div>
<div>@Model.PageData.Market</div>
<div>@Model.PageData.MarketPath</div>
<div>@Model.PageData.Data["title"]</div>
<div>@Model.PageData.Data["meta-description"]</div>
